ul{list-style-type: none;
      display: block;
  background-color:antiquewhite;
  width:100%;
  postion:fixed;
  top:0;
  left:0;
  overflow:hidden;
}

li a{display:block;
padding:10px 50px;
  text-decoration:none;
  color:pink;
}
li a:hover {
  background-color: white;
}
